[submodule "external/fmt"]
	path = external/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "external/taojson"]
	path = external/taojson
	url = git@github.com:feelfreelinux/taojson.git
[submodule "external/catch2"]
	path = external/catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "external/mbedtls"]
	path = external/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
