[submodule "external/fmt"]
	path = external/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "external/taojson"]
	path = external/taojson
	url = git@github.com:feelfreelinux/taojson.git
[submodule "external/catch2"]
	path = external/catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "external/mbedtls"]
	path = external/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "external/span"]
	path = external/span
	url = https://github.com/tcbrindle/span.git
[submodule "external/doctest"]
	path = external/doctest
	url = git@github.com:doctest/doctest.git
[submodule "external/trompeloeil"]
	path = external/trompeloeil
	url = git@github.com:rollbear/trompeloeil.git
[submodule "external/hqlc"]
	path = external/hqlc
	url = git@github.com:feelfreelinux/hqlc.git
